@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
	--green: #23ac39;
	--font: #232323;
	--font_box: #878787;
	--font_family: "Poppins", sans-serif;
}

/* ========================= GLOBAL ============================= */
input:focus {
	border: 1px solid var(--green) !important;
	box-shadow: none !important;
}

textarea:focus {
	border: 1px solid var(--green) !important;
	box-shadow: none !important;
}

h2 {
	font-family: var(--font_family);
	font-weight: 500;
	font-size: 34px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: var(--font);
}

p {
	font-family: var(--font_family);
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: -0.02em;
	color: var(--font);
}

/* ========================= HEADER ============================ */

.header-area {
	left: 0;
	right: 0;
	width: 100%;
	top: 0;
	z-index: 9;
	position: absolute;
	background: #fff;
}

@media (max-width: 767px) {
	.header-area {
		padding-top: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-area {
		padding-top: 0;
	}
}

.header-area .main-header-area {
	background: #fff;
	background: transparent;
	padding: 0px 150px;
}

@media (max-width: 767px) {
	.header-area .main-header-area {
		padding: 10px 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-area .main-header-area {
		padding: 10px 10px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.header-area .main-header-area {
		padding: 0px 20px;
	}
}

@media (min-width: 1200px) and (max-width: 1500px) {
	.header-area .main-header-area {
		padding: 0px 20px;
	}
}

@media (min-width: 1501px) and (max-width: 1800px) {
	.header-area .main-header-area {
		padding: 0px 50px;
	}
}

.header-area .main-header-area .logo-img {
	text-align: center;
}

@media (max-width: 767px) {
	.header-area .main-header-area .logo-img {
		text-align: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-area .main-header-area .logo-img {
		text-align: left;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.header-area .main-header-area .logo-img {
		text-align: left;
	}
}

@media (max-width: 767px) {
	.header-area .main-header-area .logo-img img {
		width: 70px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-area .main-header-area .logo-img img {
		width: 70px;
	}
}

@media (max-width: 767px) {
	.header-area .main-header-area .logo img {
		max-width: 160px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-area .main-header-area .logo img {
		max-width: 160px;
	}
}

.header-area .main-header-area .main-menu {
	text-align: right;
}

.header-area .main-header-area .main-menu ul li {
	display: inline-block;
	position: relative;
	margin: 0 25px;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.header-area .main-header-area .main-menu ul li {
		margin: 0 14px;
	}
}

@media (min-width: 1200px) and (max-width: 1500px) {
	.header-area .main-header-area .main-menu ul li {
		margin: 0 14px;
	}
}

.header-area .main-header-area .main-menu ul li a {
	color: var(--font);
	font-size: 15px;
	font-weight: 600;
	display: inline-block;
	padding: 35px 0px 35px 0px;
	font-family: var(--font_family);
	position: relative;
	text-decoration: none;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.header-area .main-header-area .main-menu ul li a {
		font-size: 15px;
		font-weight: 600;
	}
}

@media (min-width: 1200px) and (max-width: 1500px) {
	.header-area .main-header-area .main-menu ul li a {
		font-size: 13px;
		font-weight: 600;
	}
}

.header-area .main-header-area .main-menu ul li a i {
	font-size: 9px;
}

@media (max-width: 767px) {
	.header-area .main-header-area .main-menu ul li a i {
		display: none !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-area .main-header-area .main-menu ul li a i {
		display: none !important;
	}
}

.header-area .main-header-area .main-menu ul li a:hover {
	color: var(--green);
	text-decoration: none;
}

.header-area .main-header-area .main-menu ul li .submenu {
	position: absolute;
	left: 0;
	top: 120%;
	background: #fff;
	width: 150px;
	z-index: 2;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	opacity: 0;
	visibility: hidden;
	text-align: left;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	padding: 0;
}

#coba {
	position: relative;
	padding-right: 35px;
}

#coba::after {
	content: "";
	position: absolute;
	width: 1px;
	height: 48px;
	background-color: #23ac39;
	top: 50%;
	right: -10%;
	transform: translateY(-50%);
}

.header-area .main-header-area .main-menu ul li .submenu li {
	display: block;
	margin: 0;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
	padding: 10px 15px;
	position: inherit;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	display: block;
	color: #000;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
	display: none;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
	color: #000;
}

.header-area .main-header-area .main-menu ul li:hover > .submenu {
	opacity: 1;
	visibility: visible;
	top: 100%;
}

.header-area .main-header-area .main-menu ul li:hover > a::before {
	opacity: 1;
}

.header-area .main-header-area .main-menu ul li:first-child a {
	padding-left: 0;
}

.header-area .main-header-area.sticky {
	box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	top: -70px;
	left: 0;
	right: 0;
	z-index: 990;
	transform: translateY(70px);
	transition: transform 500ms ease, background 500ms ease;
	-webkit-transition: transform 500ms ease, background 500ms ease;
	box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
	background: #23ac3ad3;
}

@media (max-width: 767px) {
	.header-area .main-header-area.sticky {
		padding: 10px 10px;
	}
}

.header-area .main-header-area.sticky .main-menu {
	padding: 0;
}

.header-area .main-header-area.sticky .header_bottom_border {
	border-bottom: none;
}

.header-area .main-header-area.sticky .header_bottom_border.white_border {
	border-bottom: none !important;
}

.slicknav_menu .slicknav_nav {
	background: #fff;
	float: right;
	margin-top: 0;
	padding: 0;
	width: 95%;
	padding: 0;
	border-radius: 0px;
	margin-top: 5px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 11px;
}

/* line 28, ../../Arafath/CL/December/235. Job board/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav a:hover {
	background: transparent;
	color: var(--green);
	text-decoration: none;
}

/* line 32, ../../Arafath/CL/December/235. Job board/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav a.active {
	color: var(--green);
}

@media (max-width: 767px) {
	/* line 35, ../../Arafath/CL/December/235. Job board/HTML/scss/_slick-nav.scss */
	.slicknav_menu .slicknav_nav a i {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	/* line 35, ../../Arafath/CL/December/235. Job board/HTML/scss/_slick-nav.scss */
	.slicknav_menu .slicknav_nav a i {
		display: none;
	}
}

/* line 44, ../../Arafath/CL/December/235. Job board/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav .slicknav_btn {
	background-color: transparent;
	cursor: pointer;
	margin-bottom: 10px;
	margin-top: -40px;
	position: relative;
	z-index: 99;
	border: 1px solid #ddd;
	top: 3px;
	right: 5px;
	top: -36px;
}

/* line 55, ../../Arafath/CL/December/235. Job board/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
	margin-right: 6px;
	margin-top: 3px;
	position: relative;
	padding-bottom: 3px;
	top: -11px;
	right: -5px;
}

@media (max-width: 767px) {
	/* line 12, ../../Arafath/CL/December/235. Job board/HTML/scss/_slick-nav.scss */
	.slicknav_menu {
		margin-right: 0px;
	}
}

/* line 72, ../../Arafath/CL/December/235. Job board/HTML/scss/_slick-nav.scss */
.slicknav_nav .slicknav_arrow {
	float: right;
	font-size: 22px;
	position: relative;
	top: -9px;
}

/* line 78, ../../Arafath/CL/December/235. Job board/HTML/scss/_slick-nav.scss */
.slicknav_btn {
	background-color: transparent;
	cursor: pointer;
	margin-bottom: 10px;
	position: relative;
	z-index: 99;
	border: none;
	border-radius: 3px;
	top: 5px;
	padding: 5px;
	right: 5px;
	margin-top: -5px;
	top: -31px;
}

/* line 92, ../../Arafath/CL/December/235. Job board/HTML/scss/_slick-nav.scss */
.slicknav_btn {
	background-color: transparent;
	cursor: pointer;
	margin-bottom: 10px;
	position: relative;
	z-index: 99;
	border: none;
	border-radius: 3px;
	top: 5px;
	padding: 5px;
	right: 0;
	margin-top: -5px;
	top: -33px;
}

/* ======================== KONSELING ========================== */

#konsultasi_1 {
	margin-top: 31.9px;
	padding-top: 172px;
	padding-bottom: 152px;
	font-family: var(--font_family);
}

#konsultasi_1 img {
	width: 90%;
}

#konsultasi_1 h1 {
	font-family: var(--font_family);
	font-weight: bold;
	font-size: 48px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: var(--font);
}

#konsultasi_1 p {
	font-family: var(--font_family);
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: var(--font);
}

/* @media screen and (min-width: 1440px) { */
.padd {
	padding: 0 58px;
}

.btn_k {
	position: relative;
	display: inline-block;
	background-color: var(--green);
	padding: 14.5px 36px 14.5px 24px;
	font-size: 14px;
	line-height: 150%;
	text-decoration: none;
	color: #fff;
	border-radius: 12px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	border: 1px solid transparent;
}

.btn_k:hover {
	background-color: transparent;
	border: 1px solid var(--green);
	text-decoration: none;
	color: var(--green);
}

.btn_k ion-icon {
	position: absolute;
	font-size: 24px;
	top: 50%;
	transform: translateY(-50%);
}

/* =========================== KATEGORI =========================== */

#kategori {
	margin-bottom: 115px;
}

#kategori img {
	width: 90%;
}

ul#list_kategori {
	padding-left: 0 !important;
	display: flex;
	flex-wrap: wrap;
}

ul#list_kategori li {
	list-style: none;
	margin-right: 18px;
}

.btn_ctgr {
	display: inline-block;
	background-color: #fff;
	padding: 12px 36px;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	text-decoration: none;
	color: var(--font);
	border-radius: 24px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.btn_ctgr.active,
.btn_ctgr:hover {
	background-color: var(--green);
	color: #fff;
	text-decoration: none;
}

.box_price {
	width: 100%;
	max-width: 310px;
	background-color: #fff;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	border-radius: 18px;
	padding: 24px calc(7px + 4%);
	margin-left: auto;
	margin-right: auto;
}

#kategori .box_price h3 {
	font-family: var(--font_family);
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}

#kategori .box_price .txt {
	margin-top: 48px;
	color: var(--font_box);
	font-family: var(--font_family);
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
}

#kategori .box_price .checklist {
	display: flex;
	align-items: center;
}

#kategori .box_price .checklist img {
	margin-right: 10px;
	width: 18px;
	height: 18px;
	margin-bottom: 8px;
}

#kategori .box_price .checklist p {
	font-family: var(--font_family);
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 8px;
}

#kategori .box_price .price {
	display: flex;
	width: 100%;
	margin-bottom: 8px;
}

#kategori .box_price .price .pack {
	font-family: var(--font_family);
	color: var(--font);
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	text-decoration: line-through;
}

#kategori .box_price .price .free {
	font-family: var(--font_family);
	color: #ff1515;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
}

.btn__price {
	display: block;
	padding: 8px;
	background: var(--green);
	border-radius: 12px;
	color: #fff;
	text-align: center;
}

/* =============================== HEALTH ============================== */
#health {
	margin-bottom: 150px;
}

#health img {
	width: 80%;
}

/* ============================== ALUR ================================ */
#alur_cons {
	margin-bottom: 160px;
}

#alur_cons h3 {
	font-family: var(--font_family);
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: var(--font);
}

#alur_cons img {
	width: 100%;
}

#alur_cons .list_alur {
	display: flex;
	align-items: center;
}

#alur_cons .list_alur .number {
	background: var(--green);
	color: #def6ee;
	font-size: 18px;
	line-height: 27px;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

/* ============================= KONSELOR ========================== */
#konselor {
	background-color: #f7f9ff;
	padding: 121px 0;
	margin-bottom: 300px;
}

#konselor h2 {
	margin-bottom: 60px;
}

/* ============================ FOOTER ============================== */
footer {
	background-color: #fcfcfc;
	padding-top: 70px;
	padding-bottom: 35px;
}

footer .footer_title {
	font-family: var(--font_family);
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	color: var(--green);
	margin-bottom: 35px;
}

footer ul {
	padding-left: 0 !important;
}

footer ul li {
	list-style: none;
	margin-bottom: 12px;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: var(--font);
	letter-spacing: -0.02em;
	font-family: var(--font_family);
}

footer ul li a {
	text-decoration: none;
	color: var(--font);
}

footer .social {
	margin-top: 75px;
	display: flex;
	flex-wrap: wrap;
}

footer .social .icon {
	background: transparent;
	border: 1px solid var(--green);
	font-size: 24px;
	width: 49px;
	height: 49px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--green);
	border-radius: 50%;
	margin-right: 15px;
	margin-bottom: 5px;
}

footer .newsletter_form {
	margin-bottom: 20px;
	display: flex;
}

footer .newsletter_form input {
	width: 65%;
	height: 50px;
	background: transparent;
	padding-left: 20px;
	font-size: 15px;
	color: var(--green);
	border: none;
	border: 1px solid var(--green);
	border-radius: 10px;
	font-family: var(--font_family);
}

footer .newsletter_form input::placeholder {
	font-size: 14px;
	color: var(--green);
}

footer .newsletter_form input:focus {
	outline: none;
}

footer .newsletter_form button {
	height: 50px;
	display: flex;
	width: 32%;
	margin-left: 2%;
	justify-content: center;
	align-items: center;
	border: none;
	font-size: 14px;
	color: #fff;
	background: var(--green);
	cursor: pointer;
	border-radius: 10px;
	top: 5px;
	right: 5px;
	font-size: 14px;
	font-weight: 500;
	font-family: var(--font_family);
}

footer .sub {
	font-family: var(--font_family);
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: -0.02em;
}

footer img {
	width: 100%;
	max-width: 242px;
}

footer .copyzr {
	margin-top: 70px;
}

/* ====================================== DAFTAR ===================================== */
.section_form {
	background-color: #f7f9ff;
	padding-top: 200px;
	padding-bottom: 138px;
	min-height: 150vh;
}

.form {
	background-color: #fff;
	padding: 65px 78px;
	border-radius: 24px;
}

.form .title {
	color: var(--font);
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	margin-bottom: 64px;
	font-family: var(--font_family);
}

.form .info_ {
	font-style: normal;
	font-weight: 600 !important;
	font-size: 18px !important;
	line-height: 27px !important;
	margin-bottom: 48px;
}

/* .selectric {
	background-color: #fdfdff;
	border-color: #e4e6fc;
	min-height: 42px;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
}
.selectric:hover {
	background-color: #fdfdff;
	border-color: #e4e6fc;
}
.selectric:focus {
	background-color: #fefeff;
	border-color: #95a0f4;
}
.selectric .label {
	font-size: 13px;
	background-color: transparent;
	line-height: 44px;
	min-height: 42px;
}
.selectric .button {
	background-color: transparent;
	line-height: 44px;
	min-height: 42px;
}

.selectric-open .selectric {
	border-color: #23ac39;
}

.selectric-above .selectric-items,
.selectric-below .selectric-items {
	margin-bottom: 10px;
}

.selectric-items {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
	border-radius: 3px;
	background-color: #fff;
	border: none;
}
.selectric-items li {
	font-size: 13px;
	padding: 10px 15px;
}
.selectric-items li:hover {
	background-color: #f2f2f2;
}
.selectric-items li.selected,
.selectric-items li.highlighted {
	background-color: #23ac39;
	color: #fff;
} */

.clickable {
	cursor: pointer;
}

.panel {
	border: 1px solid #b7b7b7 !important;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.panel-title {
	font-weight: bold !important;
	font-size: 18px !important;
	line-height: 27px !important;
	font-family: var(--font_family);
}

.panel-body {
	padding: 10px 30px !important;
}

.panel-body label {
	font-weight: normal !important;
	font-size: 18px !important;
	line-height: 27px !important;
	font-family: var(--font_family) !important;
}

/* ==================== DOKUMEN =============================== */

.button-wrap {
	border: 2px dashed #878787;
	padding: 20px 0;
	border-radius: 8px;
	margin-bottom: 30px;
}

.custom-button {
	padding: 5px 20px;
	color: white;
	background-color: var(--green);
	border: 1px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	font-family: var(--font_family);
}

.custom-button:hover {
	border: 1px solid var(--green);
	background-color: transparent;
	color: var(--green);
}

.custom-text {
	margin-left: 10px;
	font-family: var(--font_family);
	color: #aaa;
}

.label_dokumen {
	font-family: var(--font_family);
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
}

.label_d {
	font-family: var(--font_family);
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #878787;
}

/* #files-area {
	width: 30%;
	margin: 0 auto;
}
.file-block {
	border-radius: 10px;
	background-color: rgba(144, 163, 203, 0.2);
	margin: 5px;
	color: initial;
	display: inline-flex;
}

.file-block > span.name {
	padding-right: 10px;
	width: max-content;
	display: inline-flex;
}

.file-delete {
	display: flex;
	width: 24px;
	color: initial;
	background-color: #6eb4ff00;
	font-size: large;
	justify-content: center;
	margin-right: 3px;
	cursor: pointer;
}
.file-delete:hover {
	background-color: rgba(144, 163, 203, 0.2);
	border-radius: 10px;
}

.file-delete > span {
	transform: rotate(45deg);
} */

/* ============================ VERIVIKASI ============================ */

#verifikasi .form .text_v {
	padding: 0 17.7%;
}

#verifikasi .form .text_v .text_v_sub {
	font-family: var(--font_family);
	font-style: normal;
	font-weight: 500 !important;
	font-size: 24px !important;
	line-height: 150% !important;
	letter-spacing: -0.02em;
}

#verifikasi .form .img_v {
	width: 100%;
	max-width: 278px;
	margin: 138px 0 118px 0;
}

#verifikasi .form .text_ver {
	font-family: var(--font_family);
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 150%;
}

/* ================================== PILIH KATEGORI ================================= */

.label_kategori {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	color: var(--font);
}

.title_pl {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	color: var(--font);
	letter-spacing: -0.02em;
	font-family: var(--font_family);
	margin-bottom: 48px;
}

.txt_pl {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: #c4c4c4;
	margin-bottom: 24px;
}

/* ================================== SELECT2 ======================================= */

.select2-container {
	min-width: 100%;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: #232323;
}

.select2-results__option {
	padding-right: 20px;
	vertical-align: middle;
}

.select2-results__option::before {
	content: "";
	display: inline-block;
	position: relative;
	height: 24px;
	width: 24px;
	border: 2px solid #e9e9e9;
	border-radius: 4px;
	background-color: #fff;
	margin-right: 20px;
	vertical-align: middle;
}
.select2-results__option[aria-selected="true"]::before {
	font-family: fontAwesome;
	content: "\f00c";
	color: #fff;
	background-color: var(--green);
	border: 0;
	display: inline-block;
	padding-left: 3px;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #fff;
}
.select2-container--default
	.select2-results__option--highlighted[aria-selected] {
	background-color: #eaeaeb;
	color: #272727;
}
.select2-container--default .select2-selection--multiple {
	margin-bottom: 10px;
	border-radius: 8px !important;
}
.select2-container--default.select2-container--open.select2-container--below
	.select2-selection--multiple {
	border-radius: 4px;
}
.select2-container--default.select2-container--focus
	.select2-selection--multiple {
	border-color: #f77750;
	border-width: 2px;
}

.select2-container--open .select2-dropdown--below {
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.select2-selection .select2-selection--multiple::after {
	content: "hhghgh";
}
/* select with icons badges single*/
.select-icon .select2-selection__placeholder .badge {
	display: none;
}
.select-icon .placeholder {
	/* 	display: none; */
}
.select-icon .select2-results__option::before,
.select-icon .select2-results__option[aria-selected="true"]::before {
	display: none !important;
	/* content: "" !important; */
}
.select-icon .select2-search--dropdown {
	display: none;
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice {
	padding: 7.5px 10px !important;
}

.select2-search__field {
	height: 100%;
}

.select2-container--default .select2-selection--multiple {
	min-height: 56px;
}

.select2-container--default
	.select2-results__option--highlighted[aria-selected] {
	background-color: #878787 !important;
	color: var(--font);
}

.select2-container .select2-search--inline .select2-search__field {
	padding: 12px 20px !important;
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice__remove {
	margin-right: 8px !important;
	color: var(--font) !important;
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice {
	background-color: #e5e5e5 !important;
	border-radius: 8px !important;
}

/* ==================================== TOS ====================================  */
.agr {
	font-family: var(--font_family);
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: #878787;
	margin: 0;
}

.tos {
	font-family: var(--font_family);
	font-weight: 500;
	font-size: 34px;
	line-height: 150%;
	letter-spacing: -0.02em;
	margin: 10px 0 20px 0;
}

.list_tos {
	font-family: var(--font_family);
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: var(--font);
}

label.list_tos a {
	color: var(--green);
}

#acceptbtn:not([disabled]) {
	color: #fff !important;
	background: var(--green) !important;
	border: none;
	padding: 10px 15px;
	border-radius: 8px;
}

#acceptbtn:hover:not([disabled]) {
	opacity: 0.8;
}

#acceptbtn[disabled] {
	color: #fff !important;
	background: var(--green) !important;
	opacity: 0.6;
	padding: 10px 15px;
	border-radius: 8px;
	border: none;
}

/* input[type="checkbox"]:checked:after {
	background-color: #23ac39;
} */

/* ============================= DAFTAR KONSELING ================================== */

#daftar_konseling .list_ctgr {
	color: var(--font);
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	margin-top: 0;
	margin-bottom: 24px;
	font-family: var(--font_family);
}

#daftar_konseling .descr {
	color: var(--font);
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 12px;
	font-family: var(--font_family);
}

#daftar_konseling ol {
	padding: 0 0 0 15px;
}

#daftar_konseling ol li {
	font-weight: 500;
	font-size: 14px;
	color: #878787;
	line-height: 21px;
	margin-bottom: 12px;
	font-family: var(--font_family);
}

#daftar_konseling .label__k {
	font-size: 18px;
	line-height: 27px;
	font-weight: 500;
	font-family: var(--font_family);
	color: var(--font);
}

#daftar_konseling input {
	height: 45px;
	border-radius: 12px;
	border: 1px solid #d7d7d7;
}

#daftar_konseling .form-control {
	margin-bottom: 30px;
}

.btn_not {
	border-radius: 8px;
	padding: 8px 12px;
	background-color: #fff;
	display: inline-block;
	width: max-content;
}
